@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
--color-primary: #4BC0C8;
--color-secondary: #02819B;
--color-primary-light: #ade5e9;
--color-dark: #222831;
--color-darkest: #1b222b;
--color-white: #fff;
--color-black: #000;
--color-grey: #DDDDDD;
--color-danger: #FF0000;
--surface-color: #fff;
--curve: 40
}
body {
    box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}


/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    -webkit-animation-name: dropdown-animate;
    animation-name: dropdown-animate;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
  }
  .dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
  }
  .dropdown-menu .dropdown-footer a {
    color: #444444;
    text-decoration: underline;
  }
  .dropdown-menu .dropdown-footer a:hover {
    text-decoration: none;
  }
  .dropdown-menu .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
  }
  .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
  }
  .dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
  }
  .dropdown-menu .dropdown-item:hover {
    background-color: #f6f9ff;
  }
  
  @media (min-width: 768px) {
    .dropdown-menu-arrow::before {
      content: "";
      width: 13px;
      height: 13px;
      background: #fff;
      position: absolute;
      top: -7px;
      right: 20px;
      transform: rotate(45deg);
      border-top: 1px solid #eaedf1;
      border-left: 1px solid #eaedf1;
    }
  }
  @-webkit-keyframes dropdown-animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
  @keyframes dropdown-animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
  /* Light Backgrounds */
  .bg-primary-light {
    background-color: #cfe2ff;
    border-color: #cfe2ff;
  }
  
  .bg-secondary-light {
    background-color: #e2e3e5;
    border-color: #e2e3e5;
  }
  
  .bg-success-light {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
  }
  
  .bg-danger-light {
    background-color: #f8d7da;
    border-color: #f8d7da;
  }
  
  .bg-warning-light {
    background-color: #fff3cd;
    border-color: #fff3cd;
  }
  
  .bg-info-light {
    background-color: #cff4fc;
    border-color: #cff4fc;
  }
  
  .bg-dark-light {
    background-color: #d3d3d4;
    border-color: #d3d3d4;
  }


  